.aboutContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  max-width: 1280px;
  margin: auto;
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  
  .title {
    margin-top: 40px;
    font-weight: bold;
  }
  
  .title p {
    font-size: 56px;
  }
  
  .aboutImgContainer {
    height: 100%; 
    width: 450px; 
  }
  
  .aboutImg {
    position: relative;
    width: 100%;
    height: auto;
  }
  
  .aboutTextContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    width: 100%;
  }
  
  .aboutSubtitle {
    font-size: 20px;
  }
  
  .aboutDesc {
    display: flex;
    flex-direction: column;
    font-size: 22px;
    width: 100%;
    gap: 15px;
  }
  
  .aboutBtn {
    padding: 15px 20px;
    min-width: 150px;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0 4px 4px 4px rgba(0, 0, 0, 0.2);
    background-color: var(--activeText);
    color: var(--active);
    border: none;
  }
  
  @media (max-width: 768px) {
    .about {
      flex-direction: column-reverse;
      align-items: center;
    }
  
    .aboutImgContainer,
    .aboutTextContainer {
      width: 100%;
      margin: auto;
    }

    .title p{
        font-size: 50px;
    }

    .aboutSubtitle{
      font-style: italic;
    }

    .aboutImgContainer{
        margin-top: -80px;
    }

    .aboutBtn{
        width: 100%;
    }
  }

  @media (max-width: 480px) {
    .aboutContainer{
      padding: auto;
    }
    
    .title p {
    font-size: 1.5rem; 
    }
  
    .desc {
    font-size: 17px; 
    }

    .aboutSubtitle {
      font-size: 16px;
      font-style: italic;
    }
      
    .aboutDesc {
    font-size: 20px;
    }

    .aboutTextContainer{
      margin-top: -50px;
    }
  }
  