.container{
    padding-top: 100px;
}

.contactContainer{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 100px;
    justify-content: center;
}

.container h1{
    font-size: 64px;
}

.infoText{
    font-size: 20px;
    width: 600px;
    line-height: 1.5;
    font-weight: bold;
}

.contactImg{
    width: 400px;
    height: 381px;
}

.contactForm{
    display: flex;
    flex-direction: column;
    max-width: 700px;
}

.contactForm input{
    width: 325px;
    height: 62px;
    border: none;
    padding: 20px;
    font-size: 20px;
    border-radius: 60px;
    box-shadow: 0 0 4px 4px rgb(0, 0, 0, 0.3);
}

.contactForm textarea{
    width: 325px;
    height: 161px;
    resize: none;
    border: none;
    border-radius: 26px;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0 0 4px 4px rgb(0, 0, 0, 0.2);
}

.contactForm button{
    width: 444px;
    height: 69px;
    border: none;
    border-radius: 60px;
    background-color: #FCAE36;
    box-shadow: 0 0 4px 4px rgb(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 768px) {
    .contactContainer {
      gap: 10px;
    }
  
    .infoText {
      width: 100%;
      max-width: none;
    }
  
    .contactForm input,
    .contactForm textarea {
      width: 100%;
    }
  
    .contactForm button {
      width: 100%;
    }
  }

  @media (max-width: 480px) {  
    .container h1{
        font-size: 1.5rem;
    }
  
    .infoText {
        width: 100%;
        margin: auto;
        font-size: 12px;
        font-weight: normal;
        max-width: 300px;
    }

    .contactImg{
        max-width: 300px;
        max-height: 300px;
    }

    .contactForm{
        max-width: 300px;
    }
  }