.menuContainer {
    display: flex;
    flex-direction: column;
    padding: 40px;
    max-width: 1280px;
    margin: auto;
  }

.menuMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.menuTitle{
    padding-top: 100px;
}

.menuTitle h1{
    font-size: 64px;
}

.menuList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.menuImgContainer{
    width: 100%;
}

.menu{
    width: 340px;
    height: 351px;
    background-color: var(--bg);
    border-radius: 41px;
    box-shadow: 0 0 20px 8px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 30px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.rating{
    display: flex;
}

.stars{
    position: relative;
    margin-right: 5px;
  }

.star{
    width: 15px;
    height: 15px;
}

.menuContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
  
.menu:hover {
    transform: scale(1.05);
}
  
.menuImgContainer {
    text-align: center;
    padding: 20px 0;
}
  
.menuImg {
    width: 163px;
    height: 158px;
}
  
.menuNameContainer {
    padding: 10px;
}
  
.menuName {
    font-weight: bold;
    font-size: 20px;
}
  
.menuDesc {
    color: #555;
    font-size: 11px;
}
  
.menuPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.sliderButtonContainer{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    top: 15px;
    left: 45%;
    right: 10px;
    padding: 10px;
    cursor: pointer;
}

.sliderButton{
    color: #cfcab9;
    border: none;
    background-color: var(--bg);
    cursor: pointer;
    font-size: 25px;
}

.buttonText{
    padding: 0 10px 0 10px;
    color: #cfcab9;
}

/* Media Queries */
@media (max-width: 768px) {
    .menuTitle h1 {
      font-size: 50px;
    }
  
    .menuDesc,
    .menuPrice {
      font-size: 16px;
    }

    .menu{
        width: 100%;
    }


  }

  @media (max-width: 480px) {
    .menuTitle h1 {
        font-size: 1.5rem;
      }

    .menuName {
        font-size: 15px;
    }

    .menuDesc {
        font-size: 10px;
    }

    .menuPrice {
        font-size: 12px;
    }

    .sliderButtonContainer{
        margin-top: -30px;
    }

    .sliderButton{
        font-size: 12px;
    }
    
    .buttonText{
        size: 12px;
    }
  }