.menuMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.menuTitle{
    padding-top: 100px;
}

.menuTitle h1{
    font-size: 64px;
}

.menuList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.menuImgContainer{
    width: 100%;
}

.menu{
    width: 355px;
    height: 351px;
    background-color: var(--bg);
    border-radius: 41px;
    box-shadow: 0 0 20px 8px rgb(0, 0, 0, 0.2);
    overflow: hidden;
    padding: 30px;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
}

.rating{
    display: flex;
}

.stars{
    position: relative;
    margin-right: 5px;
  }

.star{
    width: 15px;
    height: 15px;
}

.menuContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
  
.menu:hover {
    transform: scale(1.05);
}
  
.menuImgContainer {
    text-align: center;
    padding: 20px 0;
}
  
.menuImg {
    width: 163px;
    height: 158px;
}
  
.menuNameContainer {
    padding: 10px;
}
  
.menuName {
    font-weight: bold;
    font-size: 20px;
}
  
.menuDesc {
    color: #555;
    font-size: 11px;
}
  
.menuPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

.sliderButton {
    position: relative;
    top: 15px;
    left: 46%;
    right: 10px;
    padding: 10px;
    border: none;
    background-color: var(--bg);
    cursor: pointer;
  }
