.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.homeContainer{
    flex-wrap: wrap;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.textContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 62%;
}
    
.title{
    font-size: 52px;
    font-weight: bold;
}
    
.desc{
    font-size: 20px;
    width: 68%;
}
    
.buttons{
    display: flex;
    gap: 20px;
}
    
.button{
    padding: 20px;
    min-width: 150px;
    cursor: pointer;
    border: 1px solid var(--activeText);
    border-radius: 40px;
}
    
.button:first-child{
    background-color: var(--activeText);
    color: var(--active);
    box-shadow: 0px 15px 0 0 rgb(0, 0, 0, .1);
}
    
.imgContainer{
    position: relative;
}
    
.heroImg{
    object-fit: contain;
}

.about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    gap: 50px;
}

.aboutImgContainer{
    height: 95%;
    width: 43%;
}

.aboutImg{
    width: 100%;
    width: 100%;
    margin-top: -150px;
}

.aboutTextContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 62%;
}

.aboutSubtitle{
    font-size: 20px;
}

.aboutDesc{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 88%;
    gap: 15px;
}

.aboutBtn{
    padding: 20px;
    min-width: 150px;
    cursor: pointer;
    border-radius: 40px;
    background-color: var(--activeText);
    color: var(--active);
    box-shadow: 0px, 15px, 0px, 0px rgb(0, 0, 0, .1);
}

.menuMain{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 25px;
}

.menuTitle{
    padding-top: 100px;
    font-size: 52px;
    font-weight: normal;
}

.menuList{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.menuImgContainer{
    width: 100%;
}

.menu{
    width: 280px;
    height: 250px;
    background-color: var(--bg);
    border-radius: 30px;
    box-shadow: 0px 0px 5px 10px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.rating{
    display: flex;
}

.stars{
    position: relative;
    margin-right: 5px;
  }

.star{
    width: 10px;
    height: 10px;
}

.menuContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
  
.menu:hover {
    transform: scale(1.05);
}
  
.menuImgContainer {
    text-align: center;
    padding: 20px 0;
}
  
.menuImg {
    width: 100px;
    height: 100px;
}
  
.menuNameContainer {
    padding: 10px;
}
  
.menuName {
    font-weight: bold;
    font-size: 20px;
}
  
.menuDesc {
    color: #555;
    font-size: 11px;
}
  
.menuPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
    
@media (max-width: 102px){
    
    
}
    
@media (max-width: 768px){
    
}

