.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    max-width: 1280px;
    margin: auto;
}

.homeContainer{
    flex-wrap: wrap;
}

.home{
    display: flex;
    align-items: center;
    justify-content: center;
}
    
.textContainer{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 62%;
}
    
.title{
    font-size: 52px;
    font-weight: bold;
}
    
.desc{
    font-size: 20px;
    width: 68%;
}
    
.buttons{
    display: flex;
    gap: 20px;
}
    
.button{
    background-color: var(--bg);
    padding: 20px;
    min-width: 150px;
    border: 1px solid var(--activeText);
    border-radius: 40px;
    cursor: pointer;
}
    
.button:first-child{
    background-color: var(--activeText);
    color: var(--active);
    box-shadow: 0px 15px 0 0 rgb(0, 0, 0, .1);
}
    
.imgContainer{
    position: relative;
}
    
.heroImg{
    object-fit: contain;
}
    
@media (max-width: 102px){
    
    
}
    
@media (max-width: 768px){
    
}

