.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
    max-width: 1200px;
    margin: auto;
}

.home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
    
.textContainer{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 62%;
}
    
.title{
    font-size: 52px;
    font-weight: bold;
}
    
.desc{
    font-size: 20px;
    width: 68%;
}
    
.buttons{
    display: flex;
    gap: 20px;
}
    
.button{
    padding: 20px;
    min-width: 150px;
    cursor: pointer;
    border: 1px solid var(--activeText);
    border-radius: 40px;
}
    
.button:first-child{
    background-color: var(--activeText);
    color: var(--active);
}
    
.imgContainer{
    flex: 1;
    width: 38%;
    position: relative;
}
    
.heroImg{
    object-fit: contain;
}

.about{
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutTextContainer{
    width: 70%;
}
    
@media (max-width: 102px){
    
    
}
    
@media (max-width: 768px){
    
}

