.container{
    max-width: 1280px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.mediaIcons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    gap: 20px;
    padding: 40px 0 0 0;
}

.facebook{
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    cursor: pointer;
}

.footerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    gap: 60px;
}

.copyrightText{
    font-size: 22px;
    font-weight: 500;
    margin-top: 10%;
}

@media (max-width: 768px) {
    .container{
        flex-direction: column;
        align-items: center;
    }

    .footerContainer{
        flex-direction: column;
        gap: 1px;
    }

    .mediaIcons {
        width: 100%;
        max-width: 300px;
        gap: 10px;
    }

    
}

@media (max-width: 480px) {
    .facebook{
        padding: 10px;
    }
    
    .mediaIcons{
        gap: 5px;
    }

    .copyrightText{
        font-size: 11px;
    }
}